<head>
    <title>
        new
    </title>
</head>
<body>
    <%- include header.ejs%>
    <h2>Hello</h2>
    <form action="/" method="POST">
        <input type="text" name="name" >
        <input type="submit" name="sub">
    </form>
    <div>
        <%= name%>
    </div>
</body>